/* basic arrangements*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
a{
    color: #000;
}
body{
    background-color: auto;
    font-family: Montserrat;
    overflow-x: hidden;
}
/*Naviagation styles*/
header{
    padding: 12px;
    display: grid;
    grid-template-columns: 550px 550px 550px;
}
header .logo{
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 100;
}
header .links li{
    display: inline-block;
    margin: 12px;
}
header .links li a{
    font-size: 20px;
}
 header .links li a:hover{
    background-color: #000;
    color: white;
}
.search input[type=text]{
    padding: 10px;
    font-family: Montserrat;
    border: 1px solid #000;
}
.search input[type=submit]{
    padding: 10px;
    color: white;
    background-color: black;
    border: none;
    font-family: Montserrat;
    cursor: pointer;
}
/*body */
marquee{
    margin: 40px;
    height: 70px;
    
}
fieldset{
    border: 1px solid black;
    width: 600px;
    
    
}
fieldset legend{
    display: flex;
    justify-content: center;
}
main{
    padding: 200px;
    font-size: 60px;
    display: flex;
    justify-content: center;
}
/*footer*/
footer{
    margin: 20px;
    display: grid;
    grid-template-columns: 600px 600px 600px;
}
footer span{
    justify-content: center;
}
footer a{
    display: list-item;
    list-style: none;
    font-size: 20px;
}
footer a:hover{
    font-style: italic;
}
article{
    display: flex;
    justify-content: center;
    font-size: 26px;
}
/*scrool bar*/
::-webkit-scrollbar{
    width: 10px;
    
}
::-webkit-scrollbar-button{
    background-color: white;
}
::-webkit-scrollbar-thumb{
 background-color: #000;
}

/*responsivness*/
@media(max-width:600px){
    
   header{
    display: grid;
    grid-template-columns: 250px 250px;
   }
    .logo a{
        font-size: 22px;
        letter-spacing: 0;
    }
    header .links{
        margin: 10px;
    }
    header .links li{
        display: list-item;
        list-style: none;
        justify-content: center;
    }
    header .links li a{
        font-size: 16px;
    }
    .search{
        display: none;
    }
    footer {
        font-size: 16px;
        display:list-item;
        justify-content: center;
        list-style: none;
        margin: 20px;

       
    }
    fieldset{
        width: 300px;
        font-size: 22px;
        display: flex;
        justify-content: flex-start;
    }
    footer span{
        margin: 50px;
    }
    article{
        font-size: 20px;
    }
    
}